[submodule "themes/clarity"]
	path = themes/clarity
	url = https://github.com/chipzoller/hugo-clarity.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
